/** 
    Image via Wikimedia Commons: 
        https://commons.wikimedia.org/wiki/File:Mad_scientist_transparent_background.svg 
    Modified gloves by: Michael Santelia.
**/


/************************************************************************************************
    Site-wide style vars and base setups
************************************************************************************************/
:root {
    --gold: #ffb700;
    --text-color: #333;
    --blue: #357edd;
    --site-color: var(--gold);
    --animation-curve: cubic-bezier(0.2,1,0.2,1);
}


html, body, button, input, select, textarea,
.pl-textcolor-body {
    color: var(--text-color);
}

.icon {
    fill: var(--blue);
    width: 32px;
}

.icon.new-window, 
.icon.info {
    width: 24px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a .icon {
    transition: transform .4s var(--animation-curve);
}
a:hover .icon {
    transform: translate3d(4px,0,0);
}


/************************************************************************************************
    Site navigation bar
************************************************************************************************/
.pl-sitenav .pl-highlight:after {
    background: var(--site-color);
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}



/************************************************************************************************
    Spinner
************************************************************************************************/
.pl-spinner {
	animation: 0.6s linear 0s normal none infinite pl-spinner-kf-spin, 5s ease-in-out 0s normal none infinite pl-spinner-kf-colors;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

@-webkit-keyframes pl-spinner-kf-colors {
	0% {
		border-color: rgba(0, 0, 0, 0) #ccc;
	}

	50% {
		border-color: rgba(0, 0, 0, 0) var(--gold) ;
	}

	100% {
		border-color: rgba(0, 0, 0, 0) #ccc;
	}
}
@keyframes pl-spinner-kf-colors {
	0% {
		border-color: rgba(0, 0, 0, 0) var(--blue);
	}

	50% {
		border-color: rgba(0, 0, 0, 0) var(--blue) var(--blue) ;
	}

	100% {
		border-color: rgba(0, 0, 0, 0) var(--blue);
	}
}

@-webkit-keyframes pl-spinner-kf-spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes pl-spinner-kf-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}


/************************************************************************************************
    Leadspace
************************************************************************************************/
.pl-leadspace {
    background: #000 url(../img/leadspace.svg) no-repeat 95% 100% / 11%;
    min-height: 160px;
}



/************************************************************************************************
    Audit score donuts.
************************************************************************************************/
.pl-audit-score {
    border: transparent 5px solid;
    line-height: 35px;
    padding: 10px;
}

.pl-goodscore {
    border-color: #008000;
}

.pl-avgscore {
    border-color: #f4a000;
}

.pl-poorscore {
    border-color: #e71d32;
}



/************************************************************************************************
    Typeahead drop-down menu list.
    This class is intended to go on the <ul>.
************************************************************************************************/
@media only screen and (min-width: 0px) and (max-width: 579px) {
    .pl-dropdown-menu li {
        white-space: normal;
    }
}

.pl-dropdown-menu li::before {
    content: none;
}

.pl-dropdown-menu a {
    color: var(--text-color);
    padding: 7px 10px;
}

.pl-dropdown-menu .pl-highlight a,
.pl-dropdown-menu a:hover,
.pl-dropdown-menu a:focus {
    background-color: var(--blue);
    color: #fff;
}



/************************************************************************************************
    Compare tray
************************************************************************************************/

#pl-compare {
    display: none;
    transform: translate3d(0, calc(100% - 50px),0);
    transition: transform .5s var(--animation-curve);
}

@media print {
    #pl-compare {
        display: none;
    }
}

/* Default; tray is hidden. When JS adds class, show tray and add footer padding. */
.pl-compare-enabled #pl-compare {
    display: block;
}

.pl-compare-enabled {
    padding-bottom: 48px;
}

/* Slide tray up when 'open' link is clicked (JS adds 'opened' class.) */
#pl-compare.opened {
    transform: translate3d(0,0,0);
}


#pl-compare .pl-compare-closetray {
    display: none;
}
#pl-compare.opened .pl-compare-closetray {
    display: block;
}


#pl-compare .pl-compare-opentray {
    display: block;
}
#pl-compare.opened .pl-compare-opentray {
    display: none;
}


/* Default: 'compare' link hidden, plain text shown. */
.pl-compare-comparelink-con .pl-compare-plaintext {
    cursor: not-allowed;
    display: inline;
}
.pl-compare-comparelink-con .pl-compare-hotlink {
    display: none;
}

/* >1 items; 'compare' link shown, text hidden. */
.pl-compare-comparelink-con.enabled .pl-compare-plaintext {
    display: none;
}
.pl-compare-comparelink-con.enabled .pl-compare-hotlink {
    display: inline;
}

       
       
/************************************************************************************************
    Reports browse/list page
************************************************************************************************/

/* Add slight delay so fly-bys aren't so annoying. */
.pl-card-con {
    transition: border .4s .15s;
    width: 330px;
}

.pl-reportcard-notests {
    background: rgba(0,0,0,0.75);
    left: 50%;
    top: 40%;
    transform: translate3d(-50%,-50%,0);
    width: 120px;
}

/* Add slight delay so fly-bys aren't so annoying. */
.pl-compare-cbcon input,
.pl-compare-cbcon label {
    transition: opacity .4s .15s;
    opacity: 0;
}

.pl-card-con:hover .pl-compare-cbcon *,
.pl-compare-cbcon input:checked,
.pl-compare-cbcon input:checked + label {
    opacity: 1;
}

.pl-compare-cbcon:hover * {
    color: var(--blue);
}



/************************************************************************************************
    Effects
************************************************************************************************/
.pl-fadein {
	visibility: visible;
	opacity: 1;
	transition: opacity .4s;
}

.pl-fadeout {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.4s, opacity 0.4s;
}

/** Makes a border color match the text color, on hover. **/
.hover-b--current:hover,
.hover-b--current:focus  {
	border-color: currentColor;
}

.hover-b--blue:hover,
.hover-b--blue:focus  {
	border-color: var(--blue);
}



/************************************************************************************************
    Select 2 updates to match site design 
    I know !important is bad but way less CSS here by using it.
************************************************************************************************/
.select2-results__option--highlighted {
    background-color: var(--blue) !important;
}
.select2-container .select2-selection--single {
    height: 37px !important;
}
.select2-selection__rendered {
    line-height: 37px !important;
    padding-right: 22px !important;
}
.select2-selection__arrow {
    right: 3px !important;
    top: 7px !important;
}


/************************************************************************************************
    Datatable style overrides.
************************************************************************************************/
.dataTable thead th {
    text-align: left;
    vertical-align: top;
}

.dataTable.hover tbody tr:hover,
.dataTable.display tbody tr:hover,
.dataTable.display tbody tr:hover > .sorting_1,
.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #cdecff !important;
}

.dataTable thead .sorting,
.dataTable thead .sorting_asc,
.dataTable thead .sorting_desc {
    background-position: -1px 11px !important;
}


.dataTable thead .sorting_asc {
    background-position: -1px 13px !important;
}

.dataTable thead .no-sort {
    background: none !important;
}
  
.dataTables_length {
    margin-bottom: 2rem;
}

.dtr-inline.collapsed > tbody td:first-child::before,
.dtr-inline.collapsed > tbody th:first-child::before {
    top: unset !important;
}



/************************************************************************************************
    Tooltip styling
************************************************************************************************/
[class*="hint--"]::after {
    border-radius: 4px;
    font-size: .875rem !important;
}

.pf-tooltip-cue .hint--top-right span {
    border-bottom-style: dashed;
    border-bottom-color: #d2d2d2;
    border-bottom-width: 1px;
    cursor: pointer;
}
    

/************************************************************************************************
    Helpers
************************************************************************************************/
.pl-resize {
    height: auto !important;
    width: 100%;
}

.pl-downsize {
    height: auto !important;
    max-width: 100% !important;
}

.pl-word-break-all {
    word-break: break-all;
}


