/** 
    Image via Wikimedia Commons: 
        https://commons.wikimedia.org/wiki/File:Mad_scientist_transparent_background.svg 
    Modified gloves by: Michael Santelia.
**/

/** 
    Default text color
**/
html, body, button, input, select, textarea {
    color: #323232;
}


/**
    Site navigation bar
**/
.pl-sitenav a {
    position: relative;
}
.pl-sitenav .pl-highlight:after {
    background: #19a974;
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}

/** 
    Leadspace
**/
.pl-leadspace {
    background: #000 url(../img/leadspace.svg) no-repeat 95% 100% / 11%;
    min-height: 160px;
}

.ibm-grid-medium .pl-leadspace {
    background-size: 18%;
}



/** Force table links to be blue **/
a.ibm-linkcolor-default {
    color: #4178be !important;
    text-decoration: none !important;
}
a.ibm-linkcolor-default:hover {
    text-decoration: underline !important;
}


/** 
    Perf. score circles.
**/
.pl-perfscore {
    border-radius: 100%;
    border: transparent 5px solid;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 10px;
    text-align: center;
    width: 35px;
}

.pl-goodscore {
    border-color: #008000;
}

.pl-avgscore {
    border-color: #f4a000;
}

.pl-poorscore {
    border-color: #e71d32;
}



/* top align "icon after" icons when link text wraps. */
.ibm-ind-link a.ibm-icon-after::after {
    top: 0;
}



/**
    Typeahead drop-down menu list.
    This class is intended to go on the <ul>.
**/
.pl-dropdown-menu {
	li {
		padding: 0;
		white-space: nowrap;

		&::before  {
			content: none;
		}

		+ li {
			padding-top: 0;
		}
	}

	a {
		display: block;
		padding: 7px 10px;
		position: relative;
		text-decoration: none;
	}

	// On hover, focus, and then with pl-highlight class (used with keyboard in typeahead dropdown)
	.pl-highlight a,
	a:hover,
	a:focus {
		color: #fff;
		text-decoration: none;
	}
}


.pl-dropdown-menu li {
    padding: 0;
    white-space: nowrap;
}

@media only screen and (min-width: 0px) and (max-width: 579px) {
    .pl-dropdown-menu li {
        white-space: normal;
    }
}

.pl-dropdown-menu li::before {
    content: none;
}

.pl-dropdown-menu li+li {
    padding-top: 0;
}

.pl-dropdown-menu a {
    color: #323232;
    display: block;
    padding: 7px 10px;
    position: relative;
    text-decoration: none;
}

.pl-dropdown-menu .pl-highlight a,
.pl-dropdown-menu a:hover,
.pl-dropdown-menu a:focus {
    background-color: #357edd;
    color: #fff;
    text-decoration: none;
}


.hover-b--current:hover,
.hover-b--current:focus  {
	border-color: currentColor;
}

/**
    Effects
**/
.pl-fadein {
	visibility: visible;
	opacity: 1;
	transition: opacity .4s;
}

.pl-fadeout {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.4s, opacity 0.4s;
}

